* {
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.6em;
}

body {
  padding: 0% 20%;
}

h2 {
  color: #1fabe5;
}

h3 {
  color: #1fabe5;
}


#page_content {
  margin-left: 10px;
  margin-right: 10px;
}

header {
  background-color: #ff8523;
  padding-left: 20px;
}

.main_navigation a {
  color: white;
  border: solid 1px white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
}

.main_navigation {
  padding-top: 20px;
  padding-bottom: 20px;
}
.main_navigation a:visited {
  color: white;
  text-decoration: none;
}

.table_section {
  border-top: solid #ddd;
  border-bottom: solid #ddd;
  padding-bottom: 40px;
}

table {
  border: solid 1px #046c97;
  border-collapse: collapse;
  margin: auto;
}

thead {
  background-color: #1fabe5;
    color: white;
}

td {
  padding: 10px;
  border: solid 1px #046c97;
  padding: 10px 20px;
}

td img {
  width: 80px;
  height: 80px;
}

.name {
  background-color: #ff8523;
  text-align: center;
  padding: 20px;
  text-align: left;
  color: white;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 5px;
}

.name input {
  width: 30%;
  height: 30px;
  margin-right: 15px;
  border: none;
}

form {
  background-color: #ddd;
  padding-top: 10px;
  border-radius: 5px;
}

.city_container {
padding: 20px;
font-weight: bold;
}

.bio {
  padding: 20px;
  font-weight: bold;
}

#bio {
  width: 99%;
  border: solid 1px #046c97;
  margin-top: 10px;
  padding-top: 10px;
  padding-left: 10px;
}


label {
  padding-bottom: 10px;
}

#submit_button {
  background-color: #1fabe5;
  line-height: 30px;
  width: 100px;
  border-radius:5px;
  border: none;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  margin: 0px 20px 20px 20px;
}

.bottom-section {
  border-bottom: solid 3px #ddd;
  padding-bottom: 50px;
  margin-bottom: 20px;
}
